<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<form method="post" action="/login" class="form shadow-lg p-3 mb-5 bg-white rounded" style="width: 20%; margin: 10% 40%">
    <img src="images/logo.gif"/>
    <hr/>
    <input type="text" placeholder="login" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <button class="btn">Log in</button>
</form>
</body>
</html>