.form {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: white;
    width: 40%;
    border: 0;
    margin: 10% 30%;
    padding: 10%;
    box-sizing: border-box;
    font-size: 14px;
}

.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f7f7f7;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6E717C;
}

.form textarea {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f7f7f7;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #6E717C;
}

button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #FF338D;
    margin-left: 25%;
    width: 50%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    /*-webkit-transition: all 0.3 ease;*/
    /*transition: all 0.3 ease;*/
    cursor: pointer;
    margin-bottom: 5%;
}

.form img {
    margin-top: 2%;
    margin-bottom: 2%;
}

.newForm img {
    margin-top: 2%;
    margin-bottom: 3%;
}

button:hover, .form button:active, .form button:focus {
    background: #6E717C;
}

.message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}

.message a {
    color: #FF338D;
    text-decoration: none;
}
label {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    font-size: 16px;
    font-weight: bold;
    color: #FF338D;
}

.btn-outline-pink {
    margin: 5% 10%;
    width: 80%;
    color: #FF338D;
    background-color: transparent;
    background-image: none;
    font-weight: bold;
}

.btn-outline-pink:hover {
    color: #fff;
    background-color: #FF338D;
    border-color: #FF338D;
}

.btn-outline-pink.focus, .btn-outline-pink:focus {
    box-shadow: 0 0 0 .2rem rgba(192, 192, 192, .6)
}

.btn-outline-pink.disabled, .btn-outline-pink:disabled {
    color: #FF338D;
    background-color: transparent
}

.btn-outline-pink:not(:disabled):not(.disabled).active, .btn-outline-pink:not(:disabled):not(.disabled):active, .show > .btn-outline-pink.dropdown-toggle {
    color: #fff;
    background-color: #FF338D;
    border-color: #FF338D;
}

.btn-outline-pink:not(:disabled):not(.disabled).active:focus, .btn-outline-pink:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-pink.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(192, 192, 192, .6)
}