<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src="js/jquery-3.3.1.js"></script>
</head>
<body>
<form class="form shadow-lg p-3 mb-5 bg-white rounded" method="post" action="/login"
      style="width: 20%; margin: 10% 40%">
    <img src="/images/logo.gif"/>
    <hr/>
    <input type="text" placeholder="login" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <button class="btn" id="btnId">login</button>
</form>
</body>
</html>